.login-page {
    background-color: #E1ACAC;
    padding: 40px;
}

.login-page .login-container {
    background-color: #E1ACAC;
    width: 400px;
    height: 580px;
    margin: 5px auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-page .logo-section {
    text-align: center;
}

.login-page .logo {
    width: 160px;
    height: auto;
}

.login-page .logo-text {
    color: #5A4040;
    font-weight: bold;
}

.login-page .form-grid {
}

.login-page .login-button {
    background-color: #5A4040;
    color: #fff;
    margin-top: 1rem;
    margin-left: 8rem;
    width: 150px;
    height: 40px;
}

.login-page .login-button:hover {
    background-color: #CA8787;
}

.login-page .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}


.login-container .MuiOutlinedInput-root {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.login-page .signup-switch {
    margin: auto;
    text-align: center;
}
