/* BookingPage.css */

.booking-root {
    background-color: #fce7e7;
    padding: 10px;
    min-height: 100vh;
}

.back-icon {
    cursor: pointer;
    font-size: 24px;
}

.booking-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 3rem auto;
}

.booking-info h2 {
    margin-bottom: 5px;
}

.booking-info p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.booking-form {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.booking-form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.booking-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.booking-form-group select,
.booking-form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.booking-form-group small {
    margin-top: 5px;
    color: #555;
    font-size: 12px;
}

.booking-recommendation h3 {
    margin-bottom: 5px;
}

.booking-recommendation p {
    color: #777;
    font-size: 13px;
    margin-bottom: 20px;
}

.vehicle-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    margin-bottom: 30px;
}

.vehicle-card {
    text-align: center;
    min-width: 200px;
}

.vehicle-card img {
    width: 180px;
    height: auto;
}

.vehicle-card h4 {
    margin-top: 10px;
    font-size: 16px;
}

.vehicle-card.recommended h4 {
    font-weight: bold;
    color: #000;
}

.book-now-button {
    background-color: #d29191;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.book-now-button:hover {
    background-color: #ba7676;
}
