.signup-page {
    background-color: #E1ACAC;
    padding: 1.6rem;
}

.signup-page .signup-container {
    background-color: #E1ACAC;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.signup-page .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-page .logo-section {
    text-align: center;
}

.signup-page .logo {
    width: 130px;
    height: auto;
}

.signup-page .logo-text {
    color: #5A4040;
    font-weight: bold;
}

.signup-page .form-grid {
}

.signup-page .signup-button {
    background-color: #5A4040;
    color: #fff;
    margin-top: 1rem;
    margin-left: 11rem;
    width: 150px;
    height: 40px;
}

.signup-page .signup-button:hover {
    background-color: #CA8787;
}

.signup-page .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.signup-container .MuiOutlinedInput-root {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}